* {
  margin: 0;
}
body,
.mat-typography {
  background-color: #dfe0e2 !important;
}
:host {
  background-color: #dfe0e2 !important;
}
h1 {
  font-size: 4rem;
  font-weight: 100;
  color: #c46bed;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
  text-shadow: 3px 6px 5px rgb(124 124 124 / 46%);
}
//audio
audio {
  display: none;
}

//animated cards

.card {
  border: 0 !important;
  border-radius: 1.25rem !important;
  // box-shadow: 0 10px 20px 2px #181a28 !important;
  box-shadow: 0 0px 10px 3px #00000059 !important;
  display: flex !important;
  flex-direction: column !important;
  position: relative !important;
  background-clip: border-box !important;
  height: 300px !important;
  align-items: center !important;
  justify-content: center !important;
  // backdrop-filter: blur(5px);
  h1 {
    font-weight: 400;
  }
}
.card-img {
  width: 250%;
  height: 250%;
  object-fit: cover;

  transform: translate(-50%, -50%);
  transform: scale(1);
  vertical-align: middle;
}

.card-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  color: white;
}
.card-title {
  font-size: 2rem !important;
  color: white !important;
  margin-top: 5px;
  padding: 0 1rem;
}
.card-wrapper:last-child {
  padding-bottom: 10rem;
}
.card-text {
  display: none;
}

.face {
  background: initial !important;
}
.btn-primary {
  border-radius: 20px;
}
.front .btn-primary {
  background-color: limegreen !important;
}

.back .btn-primary {
  background-color: rgb(120, 11, 11) !important;
}
.container {
  display: grid;
  max-width: 100%;
  padding: 0;
}
.row {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 99;
  height: 100vh;
  align-content: flex-start;
  padding: 0 1rem;
}
.toy-bg {
  // position: fixed;
  // top: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
}

.child-selector {
  z-index: 99;
}

.mat-button-toggle-checked {
  background-color: lightgreen !important;
}

.mat-mdc-tab.mdc-tab a {
  color: white !important;
}
