/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}
@font-face {
  font-family: "Sparkle";
  src: url("./assets/fonts/sparkle.otf") format("opentype");
}

.mdc-tab__text-label a {
  color: white !important;
}
.theme h1,
.my-day-heading {
  font-family: "Sparkle", sans-serif !important;
}
