<mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="firstFormGroup" label="Add child">
        <form [formGroup]="firstFormGroup">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Andy" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Add Habits">
        <form [formGroup]="secondFormGroup">
            <mat-form-field>
                <mat-label>Habit</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Brush teeth" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
</mat-stepper>