<mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">

    <mat-step [stepControl]="firstFormGroup" label="Add child">
        <form [formGroup]="firstFormGroup" class="child-form">
            <app-child></app-child>
            <div>
                <button class="next-button" mat-raised-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Add Habits">
        <form [formGroup]="secondFormGroup">
            <app-habit></app-habit>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>

        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>

</mat-stepper>