.example-stepper {
  font-family: "Montserrat" !important;
}

.next-button {
  float: right;
}

.child-form {
  width: 50%;
  margin: 0 auto;
}

.done-setup {
  text-align: center;
  color: black !important;
}
.habit-nav-buttons {
  float: right;
}
