body {
  // background-color: #6c22a69c !important;
}

.example-stepper {
  font-family: "Montserrat" !important;
  background-color: initial !important;
  .mat-step-text-label {
    color: white !important;
  }
}

.next-button {
  float: right;
}

.child-form {
  width: 50%;
  margin: 0 auto;
}

.done-setup {
  text-align: center;
  color: black !important;
}
.habit-nav-buttons {
  float: right;
}
