<mat-tab-group class="navbar" headerPosition="below">
  <mat-tab class="mat-tab">
    <ng-template mat-tab-label>
      <a mat-icon class="tab-icon" routerLink="/myday"
        ><mat-icon>calendar_today</mat-icon> My Day</a
      >
    </ng-template>
  </mat-tab>

  <mat-tab class="mat-tab">
    <ng-template mat-tab-label>
      <a mat-icon class="tab-icon" routerLink="/mycollection"
        ><mat-icon>collections</mat-icon> My Prize</a
      >
    </ng-template>
  </mat-tab>
</mat-tab-group>
<div class="settings">
  <a mat-icon routerLink="/stepper"><mat-icon>settings</mat-icon></a>
</div>
