<mat-tab-group class="navbar" headerPosition="below">
  <mat-tab>
    <ng-template mat-tab-label>
      <a mat-icon class="tab-icon" routerLink="/myday"
        ><mat-icon>calendar_today</mat-icon> My Day</a
      >
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <a
        mat-icon
        class="tab-icon"
        routerLink="/mycollection"
        matBadge="1"
        matBadgePosition="after"
        matBadgeColor="accent"
        ><mat-icon>collections</mat-icon> My Prize</a
      >
    </ng-template>
  </mat-tab>
</mat-tab-group>
