<ol>
  <h1 mat-dialog-title>Habit Name</h1>
      <mat-dialog-content>
        <input matInput tabindex="1" [(ngModel)]="habitName" placeholder="Brush Teeth" />
        <h1>Choose child</h1>
        <div *ngFor="let child of children">
          <mat-checkbox  [(ngModel)]="child.checked">{{child.child_name}}</mat-checkbox>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button tabindex="2" (click)="chosenChildrenAndAddHabit()">
        Ok
        </button>
        <button mat-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
      </mat-dialog-actions>
</ol>