<ol>
  <h1 mat-dialog-title>Add Habit & Assign to Child</h1>
  <mat-dialog-content>
    <!-- <input matInput tabindex="1" [(ngModel)]="habitName" placeholder="Brush Teeth" /> -->

    <h2>Habit description:</h2>
    <input
      class="add-habit-input"
      matInput
      tabindex="1"
      [(ngModel)]="habitName"
      [placeholder]="aiHabitPlaceholder"
    />
    <button
      mat-button
      tabindex="3"
      (click)="openAiHabits()"
      mat-raised-button
      style="
        background-color: rgb(101, 15, 101);
        color: white;
        display: inline-block;
        margin-left: 1rem;
      "
    >
      <img
        class="icon"
        src="https://i.imgur.com/cP9vvAd.png"
        style="
          width: 30px;
          background: none;
          padding: 0;
          border: 0;
          cursor: pointer;
        "
      />
      AI Habit Ideas
    </button>

    <h2>Assign habit to child:</h2>
    <div *ngFor="let child of children">
      <mat-checkbox [(ngModel)]="child.checked">{{
        child.child_name
      }}</mat-checkbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="submit-habit-child">
    <button mat-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
    <button mat-button tabindex="2" (click)="chosenChildrenAndAddHabit()">
      Ok
    </button>
  </mat-dialog-actions>
</ol>
