<div class="myDayDialog">
  <h1 mat-dialog-title>🎉 Congrats!</h1>
  <div mat-dialog-content>
    <p>You've completed all your habits today...well done! 🙌</p>
    <p><em>Open your new 🎁 in both 3D & AR in My Prize </em></p>
  </div>
  <div mat-dialog-actions align="center">
    <button
      mat-button
      (click)="onNoClick()"
      mat-raised-button
      style="background: #b2b2b2; color: white"
    >
      Maybe later
    </button>
    <button
      mat-button
      (click)="goToMyPrize()"
      mat-raised-button
      style="background: #4eba78; color: white"
      cdkFocusInitial
    >
      Go to My Prize
    </button>
  </div>
</div>
