.add-child-input {
  width: 300px;
  display: block;
  margin: 0 auto;

  button,
  mat-form-field {
    margin: 0 auto;
    display: block;
  }
}

.child-table {
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto;
}

.mat-cell,
.mat-header-cell {
  padding: 15px;
}

.mat-column-child_name {
  width: 400px;
}